<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="container">
    <%- include('partials/nav') %>
    <main class="content"><%- body %></main>
    <footer class="footer">
      <small>Hecho con EJS + Express</small>
    </footer>
  </body>
</html>
